.denuncias{
	border: 0px solid blue;

}
form {
	width: 80%;
	text-align: left;
	margin-left: 10%;
	border: 0px solid blue;
}
textarea{
	width: 100%;
	height: 15%;
}
input[type=submit]{
	background-color:#4682b4;
	color:#123;

}
.adjuntar{
	width: 20%;
	margin-left: 40%;
	background:url("../img/adjuntar.jpg") ;
	background-size: 100% 100%;
	height: 5em;
}
input:hover{
		color: #e0ffff;
		background:  grey;
	}
