.header .menu {
	border: 12px solid grey;
	background:url("../img/menu.jpg") no-repeat;
	background-size:  100% 100% ;

}
.header ol {
	display: inline-block;
	margin: 0 ;
}

.header li {
	list-style: none;
	display: inline-block;
	background-color:#9DC1F3;
	color: #000A17

}
li:hover{
	background-color: orange;

}

li:hover a {
	color: black;
}


.header .logo {
	width: 10em ;
	height: 10em ;
	background-color: #D1C498;
}
.header a {
	text-decoration: none;
	padding: 0.5em;
}

	.fondo {
			position: fixed;
			width: 100%;
			top: 0;
			bottom: 0;
			z-index: -10;
		}

