
		.left{
			position: relative;
			z-index: 1;
			width: 70%;
			float: left;
			margin-top: 2em ;
			padding: 0 2.5%;
				
		}
		.right{
			width: 25%;
			float: left;
		
		}
		.right img{
			width: 100%;
				
		}

		 body{
      
      	background-size:  100% 100% ;

      }
    

		ol{
				}
		.menu {
			border: 12px solid 	grey;
			
			background-size: 100% 100% ;
		}
		ul li{
			list-style: none;
			display: inline-block;
			border:2px solid black;
			background-color: orange;
		}
		li:hover{
			background-color: grey;
		}
		ul{
			display: inline-block;
			margin: 10px;
		}
		.logo {
			width: 15em ;
			height: 10em ;
			background-color: black;
		}
		h1 {
			display: inline-block;
			position: absolute;
			top: 60px;
			left: 30%;
			color: #FFFFCC;
		}
		.maltrato {
			width: 50em ;
			height: 22em ;
		
		}
				span.negrita{
					background-color:grey;
					color:black;
				}
				span.cursiva{
					background-color:black;
					color:yellow;
		}
		.red {
			color: red;
			background-color: black;
			}
		.pepes{
			color: #FFFFCC;
			border: 3px solid grey;
		
		}
		.lol{
			text-align: center;
				
		}
		.lol img {
			width: 85%;

		} 
		.tips{
			border: 5px solid grey;
			color: yellow;
			background-color: black;	

		}
		.fondo {
			position: fixed;
			width: 100%;
			top: 0;
			bottom: 0;
			z-index: -10;
				
		}
html{	background:url(" ../img/madera.jpg") }